{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    پیام ها
{% endblock %}

{% block content %}

    <div class="content-wrapper" style="min-height: 973.77px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>لیست پیام ها</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" style="float: right">Folders</h3>

                            <div class="card-tools" style="float: left">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item active">
                                    <a href="{% url 'ptup_messages:messages' %}" class="nav-link">
                                        <i class="fas fa-inbox"></i> دریافت شده
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/messages/messages/?type=sent" class="nav-link">
                                        <i class="far fa-envelope"></i> ارسال شده
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/messages/messages/?type=read" class="nav-link">
                                        <i class="far fa-check-circle"></i> خوانده شده
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/messages/messages/?type=not_read" class="nav-link">
                                        <i class="far fa-circle"></i>خوانده نشده
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title" style="float: right">پیام ها</h3>

                        </div>

                        <div class="card-body p-0">
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>
                                    {% for message in list_messages %}
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check1">
                                                    <label for="check1"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-name">
                                                <a href="{% url 'ptup_messages:messages-detail' message.id %}">{{ message.sender }}</a>
                                            </td>
                                            <td class="mailbox-subject">
                                                {{ message.content|truncatewords:6 }}
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">{{ message.created_at|naturaltime }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}


{% block footer_ref %}

{% endblock %}