{% extends "shared/_MainLayout.html" %}
{% load static %}

{% block title %}
    تمرین ها
{% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 1232.89px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>انجام تمرین‌های هفته {{ week }} ام</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                {% for practice, practice_data in practices.items %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header bg-primary">
                                    <h3>تمرین : {{ practice.description }}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-body bg-gray-light">
                                        <h6>توضیحات : {{ practice.description }}</h6>
                                        <hr>
                                        <h6>فایل‌های تمرین :</h6>
                                        <ul>
                                            {% for content in practice_data.contents %}
                                                <li>
                                                    <a href="{{ content.file.url }}" download>
                                                        <h6>
                                                            {% if content.type == "MEDIA" %}
                                                                ویدیو : {{ content.title }}
                                                            {% elif content.type == "VOICE" %}
                                                                صدا : {{ content.title }}
                                                            {% elif content.type == "FILE" %}
                                                                فایل : {{ content.title }}
                                                            {% endif %}
                                                        </h6>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="card-body">
                                        <form action="{% url 'customers:completion_practice' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="healing_week_id" value="{{ healing_week_id }}">
                                            <input type="hidden" name="practice_id" value="{{ practice.id }}">
                                            <div class="form-group">
                                                <label for="answer">متن جواب:</label>
                                                <textarea class="form-control" name="answer" rows="4">{{ practice_data.answer_practice.answer }}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="file">آپلود فایل (اختیاری):</label>
                                                <input type="file" class="form-control-file" name="file{{ practice.id }}">
                                                {% if practice_data.answer_practice.file %}
                                                    <p>فایل فعلی: <a href="{{ practice_data.answer_practice.file.url }}" download>دانلود فایل</a></p>
                                                {% endif %}
                                            </div>
                                            <button type="submit" class="btn btn-block btn-primary">ثبت</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}