{% extends "shared/_MainLayout.html" %}

{% block title %}
    دوره درمان
{% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 1232.89px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ disease_information.healing_period }}</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row mt-3">

                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h5>{{ disease_information.healing_period }}</h5>
                            </div>
                            <div class="card-body ">
                                <div class="d-flex my-1">
                                    <span><i class="fas fa-plus"></i></span>
                                    <h6 class="mx-2">
                                        عنوان بیماری : {{ disease_information.illness.title }}
                                    </h6>
                                </div>
                                <div class="d-flex my-1">
                                    <span><i class="fas fa-plus"></i></span>
                                    <h6 class="mx-2">
                                        توضیحات بیماری : {{ disease_information.illness.description }}
                                    </h6>
                                </div>
                                <div class="d-flex my-1">
                                    <span><i class="fas fa-plus"></i></span><h6 class="mx-2">مدت زمان دوره درمان
                                    : {{ disease_information.healing_period.duration_of_treatment }}
                                    هفته</h6>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'customers:healing_period_customer' %}" class="btn btn-primary">
                                    {% if disease_information.start_time_period is None %}
                                        شروع دوره درمان
                                    {% else %}
                                        ادامه دوره درمان
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">

                        <div class="card">

                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#"
                                           data-toggle="tab">
                                            تست
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#practice_answer"
                                           data-toggle="tab">تمرینات بیمار
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane" id="practice_answer">
                                        <div class="row" style="height: 350px; overflow: auto">
                                            {% for answer in answers_list %}
                                                <div class="col-lg-2 my-2">
                                                    {% if answer.status %}
                                                        <a href="{% url 'healing_content:show_feedback' answer.practice_answer_id %}"
                                                           style="text-decoration: none; color: white">
                                                            <div class="color-palette-set">
                                                                <div class="bg-success color-palette">
                                                                    <span class="mx-1">روز {{ answer.day }}ام</span>
                                                                </div>
                                                                <div class="bg-success disabled color-palette text-center">
                                                            <span>
                                                                    انجام شده
                                                            </span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    {% else %}
                                                        <div class="color-palette-set">
                                                            <div class="bg-danger color-palette">
                                                                <span class="mx-1">روز {{ answer.day }}ام</span>
                                                            </div>
                                                            <div class="bg-danger disabled color-palette text-center">
                                                            <span>
                                                                انجام نشده
                                                            </span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

    </div>
{% endblock %}