{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block title %}
    جلسات درمانی
{% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 1232.89px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <h1>جلسات دوره درمان</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    {% for week, content_items in contents.items %}
                        <div class="col-12 mb-4">
                            <div class="card card-primary">
                                <div class="card-header text-center">
                                    <h3 class="card-title">محتوای درمانی هفته {{ week }} ام</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for content in content_items %}
                                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                                                <div class="card h-100">
                                                    <div class="card-header text-center">
                                                        {% if content.type == 'MEDIA' %}
                                                            <h4>ویدیو</h4>
                                                        {% elif content.type == 'VOICE' %}
                                                            <h4>صدا</h4>
                                                        {% else %}
                                                            <h4>فایل</h4>
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-body d-flex flex-column align-items-center">
                                                        {% if content.type == 'MEDIA' %}
                                                            <video src="{{ content.file.url }}" class="w-100" controls controlsList="nodownload"></video>
                                                        {% elif content.type == 'VOICE' %}
                                                            <audio src="{{ content.file.url }}" class="w-100" controls></audio>
                                                        {% else %}
                                                            <div class="text-center mb-2">
                                                                {{ content.pdf_preview }}
                                                            </div>
                                                            <a href="{{ content.file.url }}" class="d-block text-center">
                                                                <img src="{% static 'dist/img/pdf-icone.png' %}" alt="pdf-icon" width="80" height="80">
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}