{% extends "shared/_MainLayout.html" %}

{% block title %}

    راهنمای سیستم

{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">راهنمای استفاده از سامانه</h1>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        {% for guide in guides %}
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    آموزش {{ forloop.counter }}
                                </div>
                                <div class="card-body">

                                    <p class="card-text">
                                        {{ guide.title }}
                                    </p>
                                    <a href="{{ guide.file.url }}" class="card-link" download>دانلود فایل</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}