{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block title %}
    اطلاعات بیمار
{% endblock %}

{% block content %}
    <div class="content-wrapper" style="min-height: 1232.89px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>پرونده بیمار</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">

                                <h3 class="profile-username text-center">{{ customer.nick_name }}</h3>


                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>سن</b> <a class="float-right">{{ customer.age }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>جنسیت</b> <a class="float-right">{{ customer.get_gender_display }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>دکتر معالج</b> <a class="float-right">{{ customer.treating_doctor }}</a>
                                    </li>
                                </ul>

                                <a href="" class="btn btn-danger btn-block"><b>حذف از سامانه</b></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#questionnaire" data-toggle="tab">
                                            پرسشنامه ها
                                        </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline"
                                                            data-toggle="tab">تاریخچه فعالیت بیمار</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#practice_answer"
                                                            data-toggle="tab">تمرینات بیمار</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <div class="tab-content">

                                    <div class="active tab-pane"
                                         id="questionnaire">

                                        <div class="d-flex justify-content-between flex-wrap">

                                            {% for questionnaire_answer in questionnaire_answer_list %}
                                                {% if questionnaire_answer.questionnaire.type == 3 %}
                                                    <div class="post col-lg-6">

                                                        <h5>{{ forloop.counter }} -
                                                            پرسشنامه {{ questionnaire_answer.questionnaire.title }}</h5>

                                                        <div class="col-lg-6 my-3"
                                                             style="border-top: 2px dashed #bbb;"></div>

                                                        <h6>امتیاز کاربر از این پرسشنامه
                                                            : {{ questionnaire_answer.score }}</h6>

                                                        <h6>تاریخ : {{ questionnaire_answer.answer_time }}</h6>

                                                        <div class="d-flex">
                                                            <h6>امتیاز شاخص clarity
                                                                : {{ questionnaire_answer.questionnaire_interpretation.clarity.score_clarity }}
                                                            </h6>

                                                            <p class="mx-2">
                                                                [{{ questionnaire_answer.questionnaire_interpretation.clarity.small_unit }}, {{ questionnaire_answer.questionnaire_interpretation.clarity.large_unit }}]
                                                            </p>
                                                        </div>


                                                        <div class="d-flex">
                                                            <h6>امتیاز شاخص aware
                                                                : {{ questionnaire_answer.questionnaire_interpretation.aware.score_aware }}
                                                            </h6>

                                                            <p class="mx-2">
                                                                [{{ questionnaire_answer.questionnaire_interpretation.aware.small_unit }}, {{ questionnaire_answer.questionnaire_interpretation.aware.large_unit }}]
                                                            </p>
                                                        </div>


                                                        <div class="d-flex">
                                                            <h6>امتیاز شاخص impulse
                                                                : {{ questionnaire_answer.questionnaire_interpretation.impulse.score_impulse }}
                                                            </h6>

                                                            <p class="mx-2">
                                                                [{{ questionnaire_answer.questionnaire_interpretation.impulse.small_unit }}, {{ questionnaire_answer.questionnaire_interpretation.impulse.large_unit }}]
                                                            </p>
                                                        </div>


                                                        <div class="d-flex">
                                                            <h6>امتیاز شاخص nonaccept
                                                                : {{ questionnaire_answer.questionnaire_interpretation.nonaccept.score_nonaccept }}
                                                            </h6>

                                                            <p class="mx-2">
                                                                [{{ questionnaire_answer.questionnaire_interpretation.nonaccept.small_unit }}, {{ questionnaire_answer.questionnaire_interpretation.nonaccept.large_unit }}]
                                                            </p>
                                                        </div>


                                                        <div class="d-flex">
                                                            <h6>امتیاز شاخص strategies
                                                                : {{ questionnaire_answer.questionnaire_interpretation.strategies.score_strategies }}
                                                            </h6>

                                                            <p class="mx-2">
                                                                [{{ questionnaire_answer.questionnaire_interpretation.strategies.small_unit }}, {{ questionnaire_answer.questionnaire_interpretation.strategies.large_unit }}]
                                                            </p>
                                                        </div>


                                                        <div class="d-flex">
                                                            <h6>امتیاز شاخص goals
                                                                : {{ questionnaire_answer.questionnaire_interpretation.goals.score_goals }}
                                                            </h6>

                                                            <p class="mx-2">
                                                                [{{ questionnaire_answer.questionnaire_interpretation.goals.small_unit }}, {{ questionnaire_answer.questionnaire_interpretation.goals.large_unit }}]
                                                            </p>
                                                        </div>

                                                    </div>
                                                {% elif questionnaire_answer.questionnaire.type == 4 %}
                                                    <div class="post col-lg-6">

                                                        <h5>{{ forloop.counter }} -
                                                            پرسشنامه {{ questionnaire_answer.questionnaire.title }}</h5>

                                                        <div class="col-lg-6 my-3"
                                                             style="border-top: 2px dashed #bbb;"></div>

                                                        <h6>امتیاز کاربر از این پرسشنامه
                                                            : {{ questionnaire_answer.score }}</h6>

                                                        <h6>تاریخ : {{ questionnaire_answer.answer_time }}</h6>

                                                        <div class="d-flex">
                                                            <h6>نمره کل کیفیت زندگی :</h6>

                                                            <p class="mx-2">
                                                                {{ questionnaire_answer.questionnaire_interpretation.score_quality_of_life_index }}
                                                            </p>
                                                        </div>

                                                        <div class="d-flex">
                                                            <h6>نمره حیطه سلامت و کارکرد :</h6>

                                                            <p class="mx-2">
                                                                {{ questionnaire_answer.questionnaire_interpretation.score_health }}
                                                            </p>
                                                        </div>

                                                        <div class="d-flex">
                                                            <h6>نمره حیطه روانشناختی / معنوی :</h6>

                                                            <p class="mx-2">
                                                                {{ questionnaire_answer.questionnaire_interpretation.score_health }}
                                                            </p>
                                                        </div>

                                                        <div class="d-flex">
                                                            <h6>نمره حیطه اجتماعی و اقتصادی :</h6>

                                                            <p class="mx-2">
                                                                {{ questionnaire_answer.questionnaire_interpretation.score_health }}
                                                            </p>
                                                        </div>

                                                        <div class="d-flex">
                                                            <h6>نمره حیطه خانواده :</h6>

                                                            <p class="mx-2">
                                                                {{ questionnaire_answer.questionnaire_interpretation.score_health }}
                                                            </p>
                                                        </div>


                                                    </div>
                                                {% else %}
                                                    <div class="post col-lg-6">

                                                        <h5>{{ forloop.counter }} -
                                                            پرسشنامه {{ questionnaire_answer.questionnaire.title }}</h5>

                                                        <div class="col-lg-6 my-3"
                                                             style="border-top: 2px dashed #bbb;"></div>

                                                        <h6>امتیاز کاربر از این پرسشنامه
                                                            : {{ questionnaire_answer.score }}</h6>

                                                        <h6>تاریخ : {{ questionnaire_answer.answer_time }}</h6>

                                                        <div class="d-flex">
                                                            <h6>نتیجه پرسشنامه :</h6>

                                                            <p class="mx-2">{{ questionnaire_answer.questionnaire_interpretation }}</p>
                                                        </div>


                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>


                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <!-- The timeline -->
                                        <div class="timeline timeline-inverse">

                                            {% for date, activities in customer_activity_history_list.items %}
                                                <div class="time-label">
                                                    <span class="bg-danger">
                                                      {{ date }}
                                                    </span>
                                                </div>

                                                {% for activity in activities %}
                                                    <div>
                                                        <i class="fas fa-edit bg-primary"></i>

                                                        <div class="timeline-item">
                                                        <span class="time"><i
                                                                class="far fa-clock"></i> {{ activity.created.hour }}:{{ activity.created.minute }}</span>

                                                            <h3 class="timeline-header">
                                                                {{ activity.subject }}
                                                            </h3>

                                                            {% if activity.content != '' %}
                                                                <div class="timeline-body">
                                                                    {{ activity.content }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}

                                            <div>
                                                <i class="far fa-clock bg-gray"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="practice_answer">
                                        <div class="row">
                                            {% for answer in answers_list %}
                                                <div class="col-lg-2 my-2">
                                                    {% if answer.status %}
                                                        <a href="{% url 'healing_content:day_feedback_detail' answer.practice_answer_id %}"
                                                           style="text-decoration: none; color: white">
                                                            <div class="color-palette-set">
                                                                <div class="bg-success color-palette">
                                                                    <span class="mx-1">روز {{ answer.day }}ام</span>
                                                                </div>
                                                                <div class="bg-success disabled color-palette text-center">
                                                            <span>
                                                                    انجام شده
                                                            </span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    {% else %}
                                                        <div class="color-palette-set">
                                                            <div class="bg-danger color-palette">
                                                                <span class="mx-1">روز {{ answer.day }}ام</span>
                                                            </div>
                                                            <div class="bg-danger disabled color-palette text-center">
                                                            <span>
                                                                انجام نشده
                                                            </span>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}