{% extends 'shared/_MainLayout.html' %}
{% load static %}


{% block title %}
    صفحه اصلی
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">داشبورد</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="float: right">پیام انگیزشی</h3>

                                <div class="card-tools" style="float: left">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove"
                                            data-toggle="tooltip" title="Remove">
                                        <i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                {{ motivational_message.content }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-info">
                                <a href="{% url 'ptup_messages:messages' %}">
                                    <i class="far fa-envelope"></i>
                                </a>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">پیام ها</span>
                                <span class="info-box-number">{{ messages_count }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-success">
                                <a href="{% url 'ptup_messages:notifications' %}">
                                    <i class="nav-icon far fa-bell"></i>
                                </a>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">اعلان ها</span>
                                <span class="info-box-number">{{ notification_count }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-warning">
                                <a href="{% url 'customers:healing_content_map' %}">
                                    <i class="far fa-copy"></i>
                                </a>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">پرونده درمانی خودم</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

{% endblock %}