{% extends "shared/_MainLayout.html" %}
{% load static %}

{% block title %}
    تکمیل اطلاعات دکتر
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">پروفایل</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <form role="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <section class="col-lg-12 connectedSortable">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title float-left">اطلاعات شخصی</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="">نام :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="first_name" class="form-control"
                                                           placeholder="نام">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-user"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">نام خانوادگی :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="last_name" class="form-control"
                                                           placeholder="نام خانوادگی">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-user"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">ایمیل :</label>
                                                <div class="input-group mb-3">
                                                    <input type="email" name="email" class="form-control"
                                                           placeholder="ایمیل">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-envelope"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">جنسیت :</label>
                                                <div class="input-group mb-3">
                                                    <select class="form-control" name="gender">
                                                        <option value="1">مرد</option>
                                                        <option value="2">زن</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-user"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">آدرس منزل :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="home_address" class="form-control"
                                                           placeholder="آدرس منزل">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-home"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">آدرس کلنیک :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="clinic_address" class="form-control"
                                                           placeholder="آدرس کلنیک">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-clinic-medical"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">شماره تلفن منزل :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="home_number" class="form-control"
                                                           placeholder="شماره تلفن منزل">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-phone"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="">کد ملی :</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" name="national_code" class="form-control"
                                                           placeholder="کد ملی">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-user"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">شماره پروانه نظام روانشناسی :</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" name="psychology_license_number"
                                                           class="form-control"
                                                           placeholder="شماره پروانه نظام روانشناسی">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-hospital"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">دانشگاه فارغ التحصیلی :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="university_graduate" class="form-control"
                                                           placeholder="دانشگاه فارغ التحصیلی">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-university"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">رشته تحصیلی مقطع لیسانس :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="field_of_study_bachelor"
                                                           class="form-control"
                                                           placeholder="رشته تحصیلی در دوره لیسانس">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-book"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">رشته تحصیلی مقطع ارشد :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="field_of_study_residence"
                                                           class="form-control"
                                                           placeholder="رشته تحصیلی در دوره ارشد">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-book"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">شهر محل اقامت :</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" name="city_of_residence" class="form-control"
                                                           placeholder="شهر محل اقامت">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-city"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">سابقه درمانی :</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" name="treatment_history" class="form-control"
                                                           placeholder="سابقه درمانی">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-history"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="">رویکرد درمانی :</label>
                                                <div class="input-group mb-3">
                                                <select class="form-control" name="approach_used_treatment">
                                                    <option value="">رویکرد درمانی</option>
                                                    {% for approach in approach_used_treatment %}
                                                        <option value="{{ approach.id }}">{{ approach.title }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-map"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="">عکس پرسنلی :</label>
                                                <div class="input-group mb-3">
                                                <input type="file" name="image_profile" class="form-control"
                                                       placeholder="عکس پروفایل">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-image"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}