{% extends "shared/_MainLayout.html" %}
{% load static %}

{% block title %}
    ارسال مدارک
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">پروفایل</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <section class="content">

                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" style="float: right">توضیحات</h3>

                                    <div class="card-tools" style="float: left">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"
                                                data-toggle="tooltip" title="Remove">
                                            <i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h6>- بارگذاری اسکن عکس 3*4</h6>
                                    <h6>- بارگذاری پروانه درمانی</h6>
                                    <h6>در صورتی که مدارک بالا را بارگذاری نکنید توسط ادمین سامانه تایید نخواهید شد</h6>
                                </div>
                            </div>
                            <!-- /.card -->

                        </section>
                    </div>
                </div>

                <div class="row">
                    <section class="col-lg-4 connectedSortable">
                        <form role="form" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title" style="float: right">ارسال مدارک شناسایی</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>عنوان مدرک</label>
                                                <input type="text" name="title" class="form-control"
                                                       placeholder="مثال: عکس پروانه درمانی">
                                                {% if identification_document_form.title.errors %}
                                                    <span style="color: red">{{ identification_document_form.title.errors }}</span>
                                                {% endif %}
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputFile">فایل</label>
                                                <div class="input-group">
                                                    <input type="file" name="file">
                                                </div>
                                                {% if identification_document_form.file.errors %}
                                                    <span style="color: red">{{ identification_document_form.file.errors }}</span>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                                </div>
                            </div>
                        </form>
                    </section>

                    <section class="col-lg-6 connectedSortable">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" style="float: right">مدارک شناسایی آپلود شده</h3>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% for identification_document in identification_document_list %}
                                            <div>
                                                <h5>
                                                    {{ forloop.counter }} - {{ identification_document.title }}
                                                    <a href="{% url 'doctors:delete_document' identification_document.id %}">
                                                        <i class="fas fa-trash" style="color: red"></i>
                                                    </a>
                                                </h5>
                                            </div>
                                        {% empty %}
                                            <h5>هیچ فایلی آپلود نشده است</h5>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block footer_ref %}
    <script>

    </script>
{% endblock %}